.venv
.vscode
data/shapefiles/*
!data/shapefiles/
!data/shapefiles/.gitkeep
!data/shapefiles/PUT_FILES_INSIDE_THE_ZIP_HERE.txt

data/swa/0-swa_anomalies/*
data/swa/*
!data/swa/0-swa_anomalies/
!data/swa/0-swa_anomalies/.gitkeep
data/swa/0-swa_anomalies/*
!data/swa/0-swa_anomalies/.gitkeep
!data/swa/0-swa_anomalies/PLACE_SWA_DATA_HERE.txt


data/yield/*/
!data/yield/data/

data/correlation/*
!data/correlation/.gitkeep

!requirements.txt

__pycache__/
*.py[cod]
*$py.class