.venv
.vscode



data/swa/0-swa_anomalies/*
data/swa/*
!data/swa/0-swa_anomalies/
!data/swa/0-swa_anomalies/.gitkeep
data/swa/0-swa_anomalies/*
!data/swa/0-swa_anomalies/.gitkeep

data/yield/*/
!data/yield/data/

data/correlation/*
!data/correlation/.gitkeep


*.txt

__pycache__/
*.py[cod]
*$py.class